@media all and (max-width: 479px) {
    .loader {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: white;

    }
    .loader img{
        position: absolute;
        width: 50%;
        left: 25%;
        top: 40%;
    }

    .hide_mobile{
        visibility: hidden;
    }
}

@media only screen and (min-width: 768px) {
    html, body {
        background-color: #dfdfdf;
        color: black;
        font-family: 'Raleway', sans-serif;
        /*padding-left: 3.2rem;*/
        /*padding-right: 3.2rem ;*/
        /*font-weight: 200;*/
        /*margin: 0;*/
    }

    .loader {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: white;
    }
    .loader img{
        position: absolute;
        width: 20%;
        left: 39%;
        top: 30%;
    }
}

.button {
    width: auto;
    text-align: center;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.button-2 {
    color: #fff;
    border: 3px solid #3490dc;
    border-radius: 50px;
    padding: 3px 10px;
    background-image: -webkit-linear-gradient(30deg, #3490dc 50%, white 50%);
    background-image: linear-gradient(30deg, #3490dc 50%, white 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.button-2:hover {
    background-position: 100%;
    color: #3490dc;
}

footer{
    background-color: #1b1e21;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.test_shadow{
    box-shadow: 10px 10px 5px grey;
}




